#basket{
    padding-top: 36px;
}
#basket h1{
    padding-bottom: 76px;
}

.bask_prod{
    display: flex;
    margin-bottom: 52px;
}
.bask_prod a.thumb {
    display: block;
    width: 268px;
    height: 347px;
}
.bask_prod img {
    width: 268px;
    height: 347px;
}
.woocommerce img, .woocommerce-page img {
    max-width: none;
}
.up_prod{
    display: flex;
    justify-content: space-between;
}
.inf_prod{
    width: 100%;
    padding-left: 53px;
    padding-top: 27px;
    padding-bottom: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name_prod{
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.11em;
    text-decoration: none;
}
.art_prod{
    margin-top: 11px;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.11em;
}
.cost{
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.03em;
    text-align: right;
    margin-bottom: 28px;
}
label{
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.11em;
    color: #0C0701;
}
.col input{
    border: 2px solid #000000;
    width: 39px;
    height: 39px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.03em;
    outline: none;
    margin-left: 96px;
}
.attr_prod{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.11em;
}
.attr_prod span {
    text-transform: uppercase;
     
}
.down_prod a {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
    display: block;
    border: 2px solid #0C0701;
    width: 200px;
    text-decoration: none;
     
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.5s all ease;
}
.down_prod a:hover{
    color: #FFFFFF;
    background-color: #0C0701;
}
.down_prod{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itog{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.03em;
}
.oform{
    margin-top: 74px;
}
.itog span{
    font-weight: 500;
}
.oform a{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #0C0701;
    text-decoration: none;
    margin-top: 33px;
    transition: 0.5s all ease;
}
.oform a:hover{
    color: #FFFFFF;
    background-color: #0C0701;
}
@media screen and (max-width: 1650px){
    .cont{
        width: 90% !important;
    }
}

@media screen and (max-width: 1200px){
    .up_prod{
        display: block;
    }
    .cost{
        margin-bottom: 5px;
        margin-top: 10px;
        text-align: start;
    }
    .down_prod{
        display: block;
    }
    .down_prod a{
        margin: 0 auto;
        font-size: 18px;
        margin-top: 10px;
    }
    .bask_prod{
        justify-content: center;
    }
    .inf_prod{
        width: auto;
        padding-bottom: 0;
        padding-top: 0;
    }
    .oform{
        margin-top: 0;
    }
    .itog{
        text-align: center;
    }
    .oform a{
        margin: 0 auto;
        font-size: 18px;
        margin-top: 33px;
    }
}

@media screen and (max-width: 745px){
    .col input{
        margin-left: 30px;
    }
}

@media screen and (max-width: 625px){
    .bask_prod{
        flex-direction: column;
    }
    .bask_prod .thumb{
        margin: 0 auto;
    }
    .inf_prod{
        width: 220px;
        padding-left: 0;
        margin: 0 auto;
        text-align: center;
    }
    .cost{
        text-align: center;
    }
    .name_art{
        margin-top: 10px;
    }
    .itog {
        font-size: 24px;
    }
    .cost_col{
        display: flex;
        flex-direction: column-reverse;
    }
    .name_prod, .cost, label, .attr_prod {
        font-size: 18px;
    }
    .art_prod {
        font-size: 14px;
    }
    .col{
        margin-top: 10px;
    }
    .col input {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
    .bask_prod img, .bask_prod a.thumb {
        width: 200px;
        height: 259px;
    }
}

