.product {
    display: flex;
    justify-content: space-between;
}
.single-product ol {
    display: flex;
}
.woocommerce div.product div.images.woocommerce-product-gallery {
    width: 471px;
}
.zoomImg {
    width: 471px !important;
}
.wp-post-image, .woocommerce-product-gallery__image, .woocommerce-product-gallery__image img {
    height: 581px !important;
}
.woocommerce div.product div.summary {
    width: 948px;
}
.woocommerce .woocommerce-breadcrumb a, .woocommerce .woocommerce-breadcrumb {
    color: #0C0701;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.03em;
}
.bread_art {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.sku_wrapper {
    font-size: 16px;
    letter-spacing: 0.11em;
    color: #0C0701;
    display: none;
}
.woocommerce div.product .product_title {
    text-align: left;
    margin-bottom: 45px;
}
.woocommerce div.product p.price {
    margin-bottom: 30px;
}
.woocommerce-product-details__short-description p {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #0C0701;
    margin-bottom: 29px;
    line-height: 159.9%;
    height: 160px;
}
.summary .amount {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.03em;
    color: #0C0701;
}
.woocommerce div.product form.cart .variations {
    width: auto;
    margin-bottom: 10px;
}
.woocommerce div.product .stock {
    color: #0C0701;
    margin-bottom: 10px;
    font-size: 16px !important;
}
.variations td.label {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.11em;
    color: #0C0701;
    width: 183px;
}
.variations td.value {
    width: 75px;
}
.variations select {
    width: 75px;
    height: 46px;
    border: 2px solid #0C0701;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.11em;
    color: #0C0701;
    background-color: #FFFFFF;
}
.woocommerce-variation-add-to-cart {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.woocommerce div.product form.cart .button, form.woocommerce-checkout button{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.03em;
    width: 280px;
    border: solid 2px #0C0701;
    color: #0C0701;
    background-color: #FFFFFF;
    transition: 0.5s all ease;
    height: auto;
    border-radius: 0px;
    margin-right: 18px;
}

form.woocommerce-checkout button {
    cursor: pointer;
    margin-top: 33px;
}
.woocommerce div.product form.cart .button:hover, form.woocommerce-checkout button:hover {
    color: #FFFFFF;
    background-color: #0C0701;
}
.woocommerce .quantity .qty {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.03em;
    width: 67px;
    border: solid 2px #0C0701;
    color: #0C0701;
    background-color: #FFFFFF;
    transition: 0.5s all ease;
    padding: 25px 0;
     
    border-radius: 0px;
    margin-right: 18px;
}
.details {
    width: 559px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #0C0701;
}
.details p {
    width: 130px;
}
.row_detail p:first-child, .head_detail p:last-child {
    opacity: .7;
}
p.det {
    opacity: 1 !important;
}
.row_detail {
    display: flex;
    margin-bottom: 16px;
}
.row_detail:last-child {
    margin-bottom: 0;
}
.head_detail {
    font-weight: 600;
    margin-bottom: 26px;
}
.related {
    padding: 45px 0;
}
.related h2{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.14em;
    color: #0C0701;
     
    margin-bottom: 40px;
    text-align: left;
}
.related .products {
    display: flex;
    flex-wrap: wrap;
    padding-top: 74px;
    padding-bottom: 69px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: none;
    width: auto !important;
    margin: 0;
}
.woocommerce ul.products li.product a img {
    width: 260px;
    height: 320px;
}
.related .info_prod a img {
    width: 42px !important;
    height: 42px !important;
}
.woocommerce div.product div.images .flex-control-thumbs li {
    margin-top: 30px;
    margin-right: 30px;
    width: 137px;
    height: 169px;
}
.woocommerce div.product div.images .flex-control-thumbs li:nth-child(n+3) {
    margin-right: 0;
}
.woocommerce div.product div.images .flex-control-thumbs li img {
    width: 137px;
    height: 169px;
}
.woocommerce div.product form.cart {
    margin-bottom: 30px;
}
.woocommerce .products ul::after, .woocommerce .products ul::before, .woocommerce ul.products::after, .woocommerce ul.products::before {
    display: none;
}
.woocommerce a.added_to_cart, .xoo-cp-icon-check, .woocommerce button.button.added::after {
    display: none;
}
.upper_bread .woocommerce-breadcrumb {
    display: none;
}
.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
    margin: 0;
}
.related .products .card_main a img {
    width: 100%;
}
@media screen and (max-width: 1600px) {
    .woocommerce div.product div.summary {
        width: 700px;
    }
}
@media screen and (max-width: 1320px) {
    .woocommerce div.product div.summary {
        width: 600px;
    }
}
@media screen and (max-width: 1200px) {
    .upper_bread .woocommerce-breadcrumb {
        display: block;
    }
    .undercard {
        flex-basis: 100%;
    }
    .summary .woocommerce-breadcrumb {
        display: none;
    }
    .product {
        flex-direction: column;
    }
    .woocommerce div.product div.images.woocommerce-product-gallery {
        margin: 0 auto;
    }
    .woocommerce div.product div.summary {
        margin: 0 auto;
        width: 471px;
        margin-top: 30px;
    }
    .details p {
        width: 250px;
    }
    .woocommerce-product-details__short-description p {
        height: auto;
    }
    .upper_bread, .related {
        width: 471px;
        margin: 0 auto;
    }
    .details {
        width: auto;
    }
    .woocommerce-variation-add-to-cart {
        justify-content: space-between;
    }
    .woocommerce div.product form.cart .variations, .variations td.label {
        width: 100%;
    } 
    .woocommerce .quantity .qty {
        margin-right: 0;
    }
    .woocommerce div.product p.price {
        margin-bottom: 6px;
    }
    
    .woocommerce div.product .product_title {
        margin-bottom: 15px;
    }
    .woocommerce div.product form.cart .button, form.woocommerce-checkout button{
        height: 100%;
        padding: 20px 0;
        width: 220px;
    }
    .woocommerce .quantity .qty{
        padding: 18px 0;
        width: 60px;
    }
    .woocommerce div.product form.cart .variations select{
        width: 60px;
    }
}
@media screen and (max-width: 550px) {
    .woocommerce div.product div.images.woocommerce-product-gallery, .woocommerce div.product div.summary, .upper_bread, .related {
        width: 100%;
    }
    .details p {
        width: 50%;
    }
    .wp-post-image, .woocommerce-product-gallery__image, .woocommerce-product-gallery__image img {
        height: auto !important;
    }
}
@media screen and (max-width: 454px) {
    .har {
        display: none;
    }
    .woocommerce div.product div.images .flex-control-thumbs li img, .woocommerce div.product div.images .flex-control-thumbs li {
        width: 80px;
        height: 100px;
    }
    .woocommerce div.product div.images .flex-control-thumbs li, .woocommerce div.product div.images .flex-control-thumbs li:nth-child(n+3) {
        margin-top: 5px;
        margin-right: 5px;
    }
    .woocommerce div.product div.images .flex-control-thumbs {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 425px) {
    .woocommerce ul.products li.product a img {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 375px) {
}



