* {
    color: #0C0701;
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}
    
::-webkit-scrollbar-track {
    background-color:#ffffff;
}
    
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#0C0701;
}
    
::-webkit-scrollbar-thumb:hover{
    background-color:#000000;
}
    
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}
::-webkit-scrollbar{
    width: 4px;
}
/* header */

.cont {
    width: 1484px;
    margin: 0 auto; 
}
header .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
    padding-bottom: 68px;
}
.logo {
    width: 113px;
    height: 45px;
    display: flex;
    align-items: center;
}
.logo img {
    height: 30px;
}
header input {
    width: 536px;
    height: 42px;
    padding-left: 34px;
    border: 1px solid #0C0701;
    font-size: 14px;
    outline: none;
    font-weight: normal;
}
header input::placeholder{
    color: rgba(0, 0, 0, 0.25);
}
header button {
    background: none;
    border: none;
}
header button::before {
    content: url(../img/search.svg);
    display: block;
    cursor: pointer; 
    width: 5px;
    margin-left: -50px;
}
header form {
    display: flex;
    align-items: center;
}
.cart_icon {
    margin-left: 83px;
}
.cart_icon img {
    width: 30px;
}
h1{
    font-family: 'Tenor Sans', sans-serif;
    /* font-weight: bold; */
    font-size: 30px;
    letter-spacing: 0.14em;
    text-align: center;
    margin: 0 auto;
}
.products_main{
    display: flex;
    padding-top: 74px;
    padding-bottom: 69px;
    flex-wrap: wrap;
}
.products_main a img{
    width: 100%;
}
.undercard {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
}
.card_main {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.name{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.11em;
    text-decoration: none;
}
.price{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #0C0701;
    margin-top: 6px;
}
.info_prod{
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
}
.cat_sec {
    padding-top: 75px;
}
.info_prod a {
    display: flex;
    align-items: center;
}
.info_prod a img{
    width: 30px !important;
    height: 30px !important;
}
.more {
    margin: 0 auto;
    display: block;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    width: 260px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 2px solid #0C0701;
    text-decoration: none;
     
    transition: 0.5s all ease;
}
.more:hover{
    color: #FFFFFF;
    background-color: #0C0701;
}
/* sec_act */


#act{
    position: relative;
}
#act nav{
    display: flex;
    justify-content: center;
    position: absolute;
    top: -30px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
}
#act nav a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: rgba(12, 7, 1, 0.9);
    border: 2px solid #0C0701;
    width: 200px;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 70px;
    transition: 0.5s all ease;
}
#act nav a:hover {
    color: #FFFFFF;
    background-color: #0C0701;
}
#act nav a:last-child{
    margin-right: 0;
}

.act_block_new {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_act_new, .left_act_new {
    position: absolute;
}
.left_act_new img, .right_act_new img {
    width: 29vw;
}
.right_act_new {
    right: 105px;
}
.left_act_new {
    left: 105px;
}
.center_act_new, .center_act_new a{
    height: 82vh;
}
.center_act_new a{
    display: flex;
    align-items: center;
}
.center_act_new {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_act_new p{
    width: 100%;
    position: absolute;
    bottom: 42px;
    left: 0;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.22em;
    color: #FFFFFF;
    z-index: 1;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

/* footer */

footer{
    padding-top: 76px;
    padding-bottom: 32px;
}
.chel_block {
    margin-bottom: 120px;
}
.chel {
    width: 100%;
}
.up_block {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(12, 7, 1, 0.3);
}
.down_block p{
    text-align: center;
}
.up_block h1 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    text-align: left;
}
.up_block p {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin-bottom: 22px;
}
.up_block p:last-child {
    margin-bottom: 0;
}
.r_block a {
    display: block;
}
.phone {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-top: 4px;
    margin-bottom: 11px;
    font-size: 24px;
}
.instagram {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.05em;
}
.telegram {
    margin-bottom: 56px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.05em;
}
.copy {
    margin-top: 32px;
    margin-bottom: 9px;
}
.bobr {
    display: block;
    color: rgba(12, 7, 1, 0.151);
    text-align: center;
    text-decoration: none;
    transition: 0.3s all ease;
}
.bobr:hover{
    color: rgba(12, 7, 1, 0.5);
}
.down_block {
    font-weight: 500;
    font-size: 14px;
}
.b_block {
    margin-right: 180px;
}
.b_block a {
    text-decoration: none;
    display: block;
    margin-bottom: 22px;
}
.r_block_info {
    display: flex;
}
.logo_f img{
    width: 101px;
    height: 79px;
}
/* archive */

nav.subcategories{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
}
nav.subcategories a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: rgba(12, 7, 1, 0.9);
    border: 2px solid #0C0701;
    width: 200px;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 70px;
    transition: 0.5s all ease;
}
nav.subcategories a:hover {
    color: #FFFFFF;
    background-color: #0C0701;
}
nav.subcategories a:last-child{
    margin-right: 0;
}

/* WOO */
.woocommerce ul.products li.product .price {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #0C0701;
    margin-top: 6px;
}
.woocommerce-info::after, .woocommerce-info::before {
    display: none;
}
.woocommerce-info {
    background-color: #0000;
    width: 100%;
    border: none;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin-bottom: 90px;
    margin-top: 90px;
}
.woocommerce a.button {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.03em;
    width: 282px;
    border: solid 2px #0C0701;
    color: #0C0701;
    background-color: #FFFFFF;
    transition: 0.5s all ease;
    padding: 25px 0;
     
    border-radius: 0px;
    text-align: center;
}
.woocommerce a.button:hover {
    color: #FFFFFF;
    background-color: #0C0701;
}
.return-to-shop {
    text-align: center;
}
.woocommerce-message {
    display: none;
}

/* search */
.dgwt-wcas-pd-addtc-form {
    justify-content: center;
}

/* add_to_cart */

/* tovar */
#yith-wacp-popup .yith-wacp-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000A;
    top: 0;
    left: 0;   
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#yith-wacp-popup .yith-wacp-message {
    display: none;
}
#yith-wacp-popup .yith-wacp-wrapper {
    width: auto !important;
    height: auto !important;
    top: auto !important;
    left: auto !important;
    max-width: none;
    max-height: none;
}
#yith-wacp-popup.fade-in .yith-wacp-main {
    width: 1113px;
    background-color: #FFFFFF;
    border-radius: 30px;
}
#yith-wacp-popup .yith-wacp-close {
    position: static;
    color: #0C0701;
    text-transform: none;
}
#yith-wacp-popup.fade-in.open .yith-wacp-main {
    max-height: 862px;
    height: 80vh;
}
#yith-wacp-popup .yith-wacp-content .cshop:hover {
    background-color: #0C0701;
    color: #FFFFFF;
}
#yith-wacp-popup.open .yith-wacp-overlay {
    opacity: 1;
}
.container {
    margin: 0 auto;
    width: 933px;
}
#yith-wacp-popup .yith-wacp-content .container h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#yith-wacp-popup .yith-wacp-content .rec {
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
#yith-wacp-popup .yith-wacp-content .tovar {
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
}
#yith-wacp-popup .yith-wacp-content .osnova {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 74px;
    width: 100%;
}
#yith-wacp-popup .yith-wacp-content .tb {
    font-weight: 600;
    font-size: 30px;
}
#yith-wacp-popup .yith-wacp-content .name {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
}
#yith-wacp-popup .yith-wacp-content .art {
    font-weight: normal;
    font-size: 18px;
    margin-top: 11px;
}
#yith-wacp-popup .yith-wacp-content .price {
    font-weight: 500;
    font-size: 24px;
    margin-top: 0;
}
#yith-wacp-popup .yith-wacp-content .size {
    font-weight: 600;
    font-size: 30px;
}
dl.variation {
    display: flex;
    font-weight: 600;
    font-size: 30px;
}
dl.variation dt {
    margin-right: 10px;
}
#yith-wacp-popup .yith-wacp-content .up_blockbag {
    display: flex;
    justify-content: space-between;
}
#yith-wacp-popup .yith-wacp-content .img2, #yith-wacp-popup .yith-wacp-content .img2 img {
    width: 160px;
    height: 208px;
}
#yith-wacp-popup .yith-wacp-content .lt .text {
    width: 100px;
}
/* image */
#yith-wacp-popup .yith-wacp-content .image {
    margin-top: 21px;
}
#yith-wacp-popup .yith-wacp-content .ib {
    font-weight: 600;
    font-size: 24px;
    text-align: left;
}
#yith-wacp-popup .yith-wacp-content .image1 {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}
#yith-wacp-popup .yith-wacp-content .lt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; 
    padding-left: 13px;
    padding-right: 13px;
}
#yith-wacp-popup .yith-wacp-content .image1 a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}
#yith-wacp-popup .yith-wacp-content .image1 p {
    font-weight: normal;
    font-size: 14px;
    margin-top: 6px;
}
/* buy */
#yith-wacp-popup .yith-wacp-content .cshop {
    width: 362px;
    padding-top: 22px;
    padding-bottom: 22px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.02em;
    border: 2px solid #000000;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s all ease;
}
#yith-wacp-popup .yith-wacp-content .but_block {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.bbg img {
    width: 31px;
    height: 31px;
}


.gam {
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 75%;
    height: 100%;
    z-index: 11;
    padding-top: 10px;
    right: -1000px;
    visibility: hidden;
    transition: ease 0.3s all;
}
.gam_active {
    visibility: visible;
    right: 0;
}
.gam_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 20px;
    width: 90%;
}
.gam_icon {
    width: 20px;
}
.krest {
    width: 20px;
    margin: 0 auto;
    display: block;
}
.cat_gam {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    color: #0C0701;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0.02em;
}
.cart_gam {
    display: block;
    background-color: #FFFFFF;
    color: #0C0701;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    width: 90%;
    /* border: 1px solid #0C0701; */
    margin: 0 auto;
     
    font-weight: 600;
    letter-spacing: 0.02em;
}
.cart_gam img {
    width: 25px;
}
.gam_icon {
    display: none;
}
.slider {
    position: relative;
}
.arrow_left, .arrow_right {
    position: absolute;
    top: 27%;
    z-index: 9;
    display: none;
}
.arrow_left {
    left: 0;
}
.arrow_right {
    right: 0;
}
.woocommerce ul.order_details{
    margin: 0;
}
.woocommerce ul.order_details li{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0;
    margin-left: 0;

}
.woocommerce ul.order_details li:first-child{
    padding-left: 0;
}
.woocommerce ul.order_details li:last-child{
    padding-right: 0;
}
.pswp__caption__center {
    display: none;
}
.dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
    height: 30px;
}
.dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input::placeholder {
    color: #00000000;
}
.dgwt-wcas-search-wrapp {
    min-width: auto;
}
@media screen and (max-width: 1720px) {
    .cont {
        width: 90%;
    }
}
@media screen and (max-width: 1280px) {
    .b_block {
        margin-right: 100px;
    }
    .left_act_new img, .right_act_new img {
        width: 235px;
    }
    #yith-wacp-popup.fade-in .yith-wacp-main {
        width: 90%;
    }
    #yith-wacp-popup .yith-wacp-wrapper {
        width: 90% !important;
    }
    #yith-wacp-popup.fade-in.open .yith-wacp-main {
        width: 100%;
    }
    .container {
        width: 90%;
    }
}
@media screen and (max-width: 1024px) {
    .center_act_new p {
        font-size: 26px;
    }
    header .cont {
        padding: 45px 0;
    }
    .card_main {
        width: 225px;
    }
    #act nav a, nav.subcategories a {
        padding: 10px 0;
        width: 150px;
    }
    .cat_sec {
        padding-top: 30px;
    }
    .products_main {
        padding: 30px 0;
    }
    .card_main {
        margin-bottom: 30px;
    }
    .right_act_new {
        right: 40px;
    }
    .left_act_new {
        left: 40px;
    }
    .center_act_new, .center_act_new a, .center_act_new img {
        height: 650px;
    }
}
@media screen and (max-width: 1000px) {
    .up_block, .r_block_info {
        flex-direction: column;
    }
    footer .logo, .b_block, .r_block {
        margin: 0 auto;
        text-align: center;
    }
    .b_block {
        width: 300px;
    }
    .b_block, footer .logo {
        margin-bottom: 40px;
    }
    .dgwt-wcas-sf-wrapp {
        margin: 0 auto;
        width: 80%;
    }
    header .dgwt-wcas-search-wrapp, header .cart_icon, #act nav {
        display: none;
    }
    .gam_icon {
        display: block;
    }
    .up_block h1 {
        text-align: center;
        margin-bottom: 15px;
    }
    header .cont {
        padding: 20px 0;
    }
    .chel_block {
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .chel {
        height: 250px !important;
        width: auto;
    }
    .arrow_left, .arrow_right {
        display: block;
    }
    nav.subcategories {
        display: block;
    }
    nav.subcategories a {
        margin: 0 20px;
    }
    nav.subcategories a:last-child {
        margin: 0 20px;
    }
    .glider-track {
        margin: 0 auto;
    }
    .disabled {
        display: none;
    }
    #yith-wacp-popup .yith-wacp-content .cshop {
        font-size: 20px;
        width: 260px;
    }
    #yith-wacp-popup .yith-wacp-content .up_blockbag {
        flex-direction: column;
    }
    #yith-wacp-popup .yith-wacp-content .price {
        margin-top: 15px;
    }
    .logo_f{
        text-align: center;
        margin-bottom: 45px;
    }
    .chel_block{
        margin-bottom: 70px;
    }
}
@media screen and (max-width: 870px) {
    .undercard {
        flex-basis: 50%;
    }
}
@media screen and (max-width: 730px) {
    #yith-wacp-popup .yith-wacp-content .but_block {
        flex-direction: column;
    }
    #yith-wacp-popup .yith-wacp-content .cshop {
        margin: 0 auto;
        display: block;
    }
    #yith-wacp-popup .yith-wacp-content .yith-wacp-close {
        margin-bottom: 10px;
    }
    #yith-wacp-popup .yith-wacp-content .ib, #yith-wacp-popup .yith-wacp-content .image {
        display: none;
    }
    #yith-wacp-popup .yith-wacp-content .tovar {
        flex-direction: column;
    }
    #yith-wacp-popup .yith-wacp-content .osnova {
        padding-left: 0;
        text-align: center;
    }
    #yith-wacp-popup .yith-wacp-content dl.variation {
        justify-content: center;
    }
    #yith-wacp-popup .yith-wacp-content .img2 {
        margin: 0 auto;
    }
    #yith-wacp-popup .yith-wacp-content .tb {
        font-size: 24px;
    }
    .right_act_new, .left_act_new {
        display: none;
    }
}

@media screen and (max-width: 666px) {
    .undercard {
        flex-basis: 100%;
    }
}
@media screen and (max-width: 520px) {
    .center_act_new, .center_act_new a, .center_act_new img {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .card_main {
        width: 200px;
    }
    .name, .price {
        font-size: 14px;
    }
    .more {
        font-size: 18px;
        width: 200px;
    }
    .center_act_new p {
        font-size: 20px;
    }
}
@media screen and (max-width: 380px) {
    #yith-wacp-popup .yith-wacp-content .cshop {
        width: 100%;
    }
}