
# BEGIN Page Speed Ninja
# Директивы (строки) между `BEGIN Page Speed Ninja` и `END Page Speed Ninja`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.

# END Page Speed Ninja